.seach-fixed-box{
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #1678ff;
		padding: 20rpx;
		color: #FFFFFF;
		.seach-input-box{
			flex: 1;
			height: 80rpx;
			background-color: #FFFFFF;
			border-radius: 22rpx;
			margin: 0 32rpx;
			display: flex;
			align-items: center;
			justify-content: start;
			color: #c7c7c7;
			padding: 0 28rpx;
			.icon{
				font-size: 40rpx;
			}
			.placeholder{
				font-size: 28rpx;
				color: #c7c7c7;
				padding-left: 10rpx;
			}
		}
		.icon{
			font-size: 56rpx;
		}
	}
	
	.navber{
		margin-top: 120rpx;
		padding:30rpx 20rpx;
		background-color: #FFFFFF;
		display: flex;
		flex-wrap: wrap;
		.nav{
			width: 25%;
			text-align: center;
			padding: 20rpx 0;
			.icon{
				width: 60rpx;
				height: 60rpx;
			}
			.name{
				margin-top: 10rpx;
				font-size: 28rpx;
				color: #333333;
			}
		}
	}
	
	.topic-header{
		padding: 0 40rpx;
		display: flex;
		justify-content: start;
		align-items: baseline;
		.tabs{
			font-size: 28rpx;
			margin-left: 60rpx;
			line-height: 80rpx;
			position: relative;
			&:first-child{
				margin-left: 0;
			}
			&.active{
				font-size: 42rpx;
				color: #333;
				font-weight: 700;
			}
			&.active::after{
				content: "";
				width: 40rpx;
				height: 6rpx;
				background-color: #1678ff;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-radius: 1.5px;
			}
		}
	}